body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    background-color: #0f172a;
}

h1 {
    color: #e2e8f0;
}

h2 {
    padding: 10px;
}

#border {
    box-sizing: border-box;
    border: 10px solid #1e293b;
    border-radius: 5%;
    margin: auto;
    margin-bottom: 10%;
    padding: 30px;
    max-width: 500px;
    width: 75vw;
    background-color: #334155;
}

#display {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    margin-bottom: 10%;
    gap: 15px;
    height: 100px;
    width: 100%;
    justify-items: auto;
    align-items: center;
}

#button-grid {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 15px;
    justify-items: center;
    align-items: center;
}

button {
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 100%;
    border-radius: 15%;
    color: #0f172a;
}

img {
    width: 100%;
    aspect-ratio: 1/1;
}

#history{
    width: 80%;
    aspect-ratio: 1/1;
}

.number {
    background-color: #67e8f9;
}

.operator {
    background-color: #818cf8;
}

#output-clear {
    background-color: #fb7185;
}

#output{
    border: 1px solid #64748b;
    border-radius: 5%;
    padding: 10%;
    margin: 0;
    background-color: #e2e8f0;
    font-size: 30px;
}
